/* TODO: can vars be set for breakpoints? didn't work, check syntax... */
:root {
  --main-color: rgb(35, 71, 130);
  --accent-color: rgb(112, 150, 46);
  --light-accent-color: rgb(158, 211, 65);
  --light-grey-color: rgb(220, 220, 220);
  --main-text-color: rgb(0, 0, 0);
  --left-padding: 35px;

  --body-font: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  --display-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;

  font-size: .8em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-family: var(--body-font);
}

.skiplink{
  display: none;
}

.more-button,
.action-button{
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

.action-button{
  color: rgb(255,255,255);
  background-color: var(--accent-color);
}

.more-button{
  color: var(--main-color);
  background-color: var(--light-grey-color);
  width: 15rem;
  margin: auto;
  display: block;
}
/* let's add something nicer next iteration */
.action-button:hover{
  background-color: var(--light-accent-color);
}

header.page-header{
  background: var(--main-color) url("../images/header-image.jpg") no-repeat center top;
  background-size: cover;
  color: rgb(255, 255, 255);
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
 }

header .logo{
  width: 60%;
  max-width: 250px;
  height: auto;
  margin: 30px 0 0 45px;
}

header .tagline{
  font-size: 1.5rem;
  color: var(--accent-color);
  font-style: italic;
  font-family: var(--display-font);
  margin: 0 0 135px 45px;
}

.cart-bug{
  margin: 35px 75px 0 0;
  text-align: right;
  width: calc(100% - 75px);
}

.cart-bug .cart-icon{
  width: 25px;
  margin-right: 3px;
}

.cart-bug .action-button{
  width: 100%;
  margin-top: 10px;
}

header.page-header nav{
  background-color: var(--light-grey-color);
  grid-column: 1 / span 2;
}

footer nav ul,
header.page-header nav ul{
  padding: 15px 0;
  width: 80%;
  margin: auto;
}

footer nav ul li,
header.page-header nav ul li{
  display: inline;
  list-style-type: none;
  padding: 15px 0;
}

header.page-header nav ul li{
  color: var(--main-color);
}

footer nav ul li{
  color: rgb(255, 255, 255);
}

footer nav ul li a,
header.page-header nav ul li a{
  text-decoration: none;
  font-weight: bold;
  padding: 15px;
}

header.page-header nav ul li a{
  color: var(--main-color);
}

footer nav ul li a{
  color: rgb(255, 255, 255);
}

header.page-header nav ul li:first-child a{
  padding-left: 0;
}

footer nav ul li:after,
header.page-header nav ul li:after{
  content: "\00a0/ ";
}

footer nav ul li:last-child:after,
header.page-header nav ul li:last-child:after{
  content: "";
}

main{
  width: 80%;
  margin: 20px auto;
}

h1, h2{
  font-family: var(--display-font);
  color: var(--main-color);
  font-weight: bold;
}

h1{
  margin: 20px 0;
}

/* dog cards */
ul.cards{
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

/* adding em-based padding to bottom reserve space for pinned button */
ul.cards li{
  width: 90%;
  min-width: 165px;
  margin-bottom: 15px;
  padding: 0 0 2.25em 0;
  list-style-type: none;
  border: 2px solid var(--light-grey-color);
  position: relative;
}

ul.cards li img{
  width: 100%;
  height: auto;
}

ul.cards li h2,
ul.cards li p{
  margin: 10px 5px;
}

ul.cards li a.action-button{
  width: calc(100% - 10px);
  margin: 0 5px 8px 5px;
  /* pin button to bottom of card for neater rows as content varies */
  position: absolute;
  bottom: 0;
}

footer{
  background-color: var(--main-color);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 25px 0;
}

footer img.logo{
  width: 30%;
  margin: auto;
}

/* home page here */
header.image-blurb{
  display: grid;
  grid-template-areas:  "a b b"
                        "a c c";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3em auto;
  grid-column-gap: 25px;
  margin-bottom: 25px;

}

header.image-blurb img{
  grid-area: a;
  width: 100%;
  bacground-color: red;
}

header.image-blurb h1{
  grid-area: b;
  background-color: pink;
  margin: 0;
}

header.image-blurb p{
  grid-area: c;
  background-color: orchid;
}
/* responsive adjustments - refine later */
@media screen and (max-width:900px){
  ul.cards{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width:700px){
  header.page-header{
    display: block;
  }

  header.page-header .tagline{
    margin: 0 0 35px 45px;
  }
  .cart-bug{
    margin: 0 0 10px 45px;
    text-align: left;
    width: 100%;
  }

  .cart-bug .action-button{
      width: 10rem;
      margin-left: 10px;
  }

  ul.cards{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width:460px){
  main{
    width: 90%;
  }
  ul.cards{
    grid-template-columns: 1fr;
  }
}

/*
