/* TODO: can vars be set for breakpoints? didn't work, check syntax... */
:root {
  --main-color: rgb(35, 71, 130);
  --accent-color: rgb(112, 150, 46);
  --light-accent-color: rgb(158, 211, 65);
  --light-grey-color: rgb(220, 220, 220);
  --main-text-color: rgb(0, 0, 0);
  --left-padding: 35px;

  --body-font: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  --display-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;

  font-size: .8em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-family: var(--body-font);
}

p{
  margin-bottom: 10px;
  line-height: 1.25em;
}

.skiplink{
  display: none;
}

.more-button,
.action-button{
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition: all .5s;
}

.action-button{
  color: rgb(255,255,255);
  background-color: var(--accent-color);
}

.more-button{
  color: var(--main-color);
  background-color: var(--light-grey-color);
  width: 15rem;
  margin: auto;
  display: block;
}

.more-button:hover,
.action-button:hover{
  transform: scale(1.03, 1.03);
  transition: all .5s;
}

.action-button:hover{
  background-color: var(--light-accent-color);
}

header.page-header{
  background: var(--main-color) url("../images/header-image.jpg") no-repeat center top;
  background-size: cover;
  color: rgb(255, 255, 255);
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
 }

header .logo{
  width: 60%;
  max-width: 250px;
  height: auto;
  margin: 30px 0 0 45px;
}

header .tagline{
  font-size: 1.5rem;
  color: var(--accent-color);
  font-style: italic;
  font-family: var(--display-font);
  margin: 0 0 135px 45px;
}

.cart-bug{
  margin: 35px 75px 0 0;
  text-align: right;
  width: calc(100% - 75px);
}

.cart-bug .cart-icon{
  width: 25px;
  margin-right: 3px;
}

.cart-bug .action-button{
  width: 100%;
  max-width: 200px;
  margin-top: 10px;
}

header.page-header nav{
  background-color: var(--light-grey-color);
  grid-column: 1 / span 2;
}

footer nav ul,
header.page-header nav ul{
  padding: 15px 0;
  width: 80%;
  margin: auto;
}

footer nav ul li,
header.page-header nav ul li{
  display: inline;
  list-style-type: none;
  padding: 15px 0;
}

header.page-header nav ul li{
  color: var(--main-color);
}

footer nav ul li{
  color: rgb(255, 255, 255);
}

footer nav ul li a,
header.page-header nav ul li a{
  text-decoration: none;
  font-weight: bold;
  padding: 15px;
}

header.page-header nav ul li a{
  color: var(--main-color);
}

header.page-header nav ul li a:hover{
  color: var(--accent-color);
}
footer nav ul li a{
  color: rgb(255, 255, 255);
}

header.page-header nav ul li:first-child a{
  padding-left: 0;
}

footer nav ul li:after,
header.page-header nav ul li:after{
  content: "\00a0/ ";
}

footer nav ul li:last-child:after,
header.page-header nav ul li:last-child:after{
  content: "";
}

main{
  width: 80%;
  margin: 20px auto;
}

h1, h2, label, legend, h3{
  font-family: var(--display-font);
  color: var(--main-color);
  font-weight: bold;
}

h1{
  font-size: 1.85rem;
  margin: 0 0 20px 0;
}

h2, label, legend{
  font-size: 1.15rem;
}

/* dog cards */
ul.cards{
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

/* adding em-based padding to bottom reserve space for pinned button */
ul.cards li{
  width: 90%;
  min-width: 165px;
  margin-bottom: 15px;
  padding: 0 0 2.25em 0;
  list-style-type: none;
  border: 2px solid var(--light-grey-color);
  position: relative;
}

ul.cards li img{
  width: 100%;
  height: auto;
  cursor: pointer;
}

ul.cards li h2,
ul.cards li p{
  margin: 10px 5px;
}

ul.cards li a.action-button{
  width: calc(100% - 10px);
  margin: 0 5px 8px 5px;
  /* pin button to bottom of card for neater rows as content varies */
  position: absolute;
  bottom: 0;
}

footer{
  background-color: var(--main-color);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 25px 0;
}

footer img.logo{
  width: 30%;
  margin: auto;
}

article.blog,
header.image-blurb{
  display: grid;
  grid-template-areas:  "a b b"
                        "a c c";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3em auto;
  grid-column-gap: 25px;
  margin-bottom: 25px;
}

article.blog img.decor,
header.image-blurb img{
  grid-area: a;
  width: 100%;
}

article.blog h2,
header.image-blurb h1{
  grid-area: b;
}

article.blog div.text,
header.image-blurb p{
  grid-area: c;
  padding: 0 5px 0 0;
  max-width: 500px;
}

header.image-blurb p{
  font-size: 1.15rem;
  line-height: 1.5em;
}

article.blog{
  margin-bottom: 30px;
}

form.checkout{
  width: 65%;
  min-width: 400px;
}

label,
input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]),
select,
h2{
  display: block;
  margin-bottom: 10px;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]),
select{
  font-size: 1.25rem;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid var(--light-grey-color);
  border-radius: 0px;
  background-color: transparent;
}

select{
  -webkit-appearance: none;
}

p.selectbox{
  position: relative;
}

/* customize select box arrow with FontAwesome icon. Much off this portion comes from their instructions */
.icon::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

p.selectbox.icon::after{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d7";
  top: 2.5rem;
  right: 5px;
  position: absolute;
  z-index: -1;
  font-size: 2.25rem;
  color: var(--light-grey-color);
}

input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]){
  width: 100%;
}

input[type="submit"]{
  width: 40%;
}
fieldset.radios{
  border: none;
  padding: 10px 0;
}

fieldset.radios label{
  display: inline;
  font-family: var(--body-font);
  color: var(--default-text-color);
  font-weight: normal;
  font-size: 1rem;
  margin: 0 25px 0 5px;
}

 form.checkout .grid-container-3{
   display: grid;
   grid-template-columns: 3fr 2fr 2fr;
   width: 100%;
   grid-column-gap: 10px;
 }

 form.checkout .grid-container-3 input,
 form.checkout .grid-container-3 select{
   width: 100%;
 }

p.pickup{
  width: 30%;
}

p.pickup select{
  width: 100%;
}

form.checkout ul.adopted{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
}

form.checkout ul.adopted li{
  list-style-type: none;
  display: grid;
  grid-template-areas:  "a b b"
                        "a c c";
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  margin-bottom: 25px;

}

form.checkout ul.adopted li h3{
   grid-area: b;
}

form.checkout ul.adopted li p{
  grid-area: c;
}
form.checkout ul.adopted li img{
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  grid-area: a;
}

/* responsive adjustments - refine later
  TODO: checkout page */
@media screen and (max-width:900px){
  ul.cards{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width:700px){
  header.page-header{
    display: block;
  }

  header.page-header .tagline{
    margin: 0 0 35px 45px;
  }
  .cart-bug{
    margin: 0 0 10px 45px;
    text-align: left;
    width: 100%;
  }

  .cart-bug .action-button{
      width: 10rem;
      margin-left: 10px;
  }

  ul.cards{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width:460px){
  main{
    width: 100%;
    padding: 0 10px;
  }

  header.page-header .logo,
  header.page-header .tagline,
  header.page-header .cart-bug{
    margin-left: 10px;
  }

  header.page-header nav ul{
    width: 100%;
    margin-left: 10px;
  }

  header.image-blurb,
  article.blog{
    display: block;
  }

  header.image-blurb img,
  article.blog img.decor{
    display: none;
  }

  ul.cards{
    grid-template-columns: 1fr;
  }

  ul.cards li{
    margin: auto;
    width: 95%;
  }

  form.checkout{
    width: 100%;
    min-width: 0;
  }

  footer{
    padding-left: 10px;
    padding-right: 10px;
  }
}
