* {
    box-sizing: border-box;
}
.col-1 {
    width: 8.33%;
    }
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.row::after {
    content: "";
    clear: both;
    display: table;
}
body, html{
    margin: 0%;
    padding: 0%;
}
.header-banner{
    position: relative;
    text-align: center;
}
.header-banner .title-alligner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-banner .cart-alligner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer-banner{

}

.grid-wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}
.main-content{
    padding: 0% 15%;
}
footer{
    align-content: center;
    background-color: darkgrey;
    color: white;
}
form{

}
button{

}
h1{
    
}

h2{

}
.shopping-grid-squares{
}
.cart-items{

}
.menu-bar{

}
.menu-bar .a{

}
.blog-article-link{

}
