body, html {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

.header-banner {
    position: relative;
    text-align: center;
    background-color: #050585;
    width: 100%;
}

.aside-link {
    color: lightblue;
}
.blog-aside {
    width: 80%;
}

aside {
    #display: flex;
    float: right;
    width: 25%;
    justify-content: flex-end;
}

.shopping-grid-squares .shopping-grid-squares-text button {
    background-color: #339900;
    background-color: olivedrab;
    color: #FFFFFF;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    height: 2em;
    border: none;
    border-radius: 8px;
    margin-bottom: 1em;
}

.shopping-grid-squares .shopping-grid-squares-text button:hover {
    background-color: #336600;
    background-color: darkgreen;
    color: lightgray;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    height: 2em;
    border: none;
    border-radius: 8px;
    margin-bottom: 1em;
}




.footer-banner {
    background-color: #050585;
}

/*Desktop*/
@media screen and (min-width: 1024px){
    
    .header-banner .title-alligner {
        position: absolute;
        top: 25%;
        left: 13%;    
        width: 45%;
    }
    .main-content {
        padding: 0% 12%;
    }
    .grid-wrapper {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-gap: 5%;
        background-color: #fff;
        color: #444;
        padding: 3% 0%;

    }
    
    #grid-wrapper-main {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-gap: 4em;
        background-color: #fff;
        color: #444;
        padding: 3% 0%;
        width: 70%;
        
    }
    
    .shopping-grid-squares .item-image {
        width: 100%;
        height: 10em;
    }
    .header-banner .title-alligner #logo-image {
        width: 100%;
        /*height: 12.5em;*/
    }
    h1 {
        font-size: 3em;
        color: #339900;
        color: olivedrab;
    }
    #banner-image {
        width: 100%;
        height: 40em;
    }
    .nav-bar {
        width: 100%;
        background-color: lightgray;
        height: 4em;
        font-size: 2em;
        position: relative;
        text-align: center;
    }
    .nav-bar-links {
        color: #000066;
        position: absolute;
        top: 35%;
        left: 12%;
    }
    .shopping-grid-squares .shopping-grid-squares-text {
        padding: 0% 10%;
        font-size: 1.5em;
    }
    footer {
        align-content: center;
        text-align: center;
        background-color: #050585;
        color: #FFFFFF;
        padding-bottom: 3em;
        font-size: 1.5em;
    }
    .header-banner .cart-alligner {
        position: absolute;
        top: 12%;
        right: 10%;
        color: #FFFFFF;
        font-size: 2em;
    }

    .cart-alligner input {
        background-color: #339900;
        background-color: olivedrab; 
        color: #FFFFFF;
        width: 100%;
        font-size: 0.75em;
        font-weight: bold;
        height: 1.5em;
        border: none;
        border-radius: 4px;
        margin-bottom: 1em;
    }

    .cart-alligner input:hover {
        background-color: #336600;
        background-color: darkgreen;
        color: lightgray;
        width: 100%;
        font-size: 0.75em;
        font-weight: bold;
        height: 1.5em;
        border: none;
        border-radius: 4px;
        margin-bottom: 1em;
    }
    article p {
        font-size: 1.45em;
        padding: 1em;
    }
    article img {
        margin-right: 15px;
        float: left;
    }
    footer #f-logo-image {
        width: 25%;
        padding-top: 3em;
    }
    #front-page article {
        width: 70%;
        padding-bottom: 2em;
        margin-top: 2em;
        padding-top: 2em;
        padding-right: 2em;
        overflow: hidden;
    }
    #input-index {
        background-color: lightgrey;
        color: #000066;
        padding: 0.5em 2em;
        font-size: 1.5em;
        font-weight: bold;
        height: 3em;
        border: none;
        border-radius: 8px;
    }

    #index-form {
        width: 25%;
        padding: 4em 0em 8em;
        align-content: center;
        transform: translate(162%, 0%);
    }
}
/*Tablet*/
@media screen and (max-width: 1024px) and (min-width: 450px){
    
    .header-banner .title-alligner {
        position: absolute;
        top: 25%;
        left: 13%;    
        width: 45%;
    }
    .main-content {
        padding: 0% 5%;
    }
    .grid-wrapper {
        display: grid;
        grid-template-columns: 43.4% 43.4%;
        grid-gap: 4em;
        background-color: #fff;
        color: #444;
        padding: 3% 0%;

    }
    .shopping-grid-squares .item-image {
        width: 100%;
        height: 10em;
    }
    .header-banner .title-alligner #logo-image {
        width: 100%;
        /*height: 12.5em;*/
    }

    h1 {
        font-size: 2em;
        color: #339900;
        color: olivedrab;
    }
    #banner-image {
        width: 100%;
        height: 20em;
    }
    .nav-bar {
        width: 100%;
        background-color: lightgray;
        height: 3em;
        font-size: 1.5em;
        position: relative;
        text-align: center;
    }
    .nav-bar-links {
        color: #000066;
        position: absolute;
        top: 30%;
        left: 5%;
    }
    .shopping-grid-squares .shopping-grid-squares-text {
        padding: 0% 10%;
        font-size: 1em;
    }
    footer {
        align-content: center;
        text-align: center;
        background-color: #050585;
        color: #FFFFFF;
        padding-bottom: 3em;
        font-size: 1em;
    }
    .header-banner .cart-alligner {
        position: absolute;
        top: 30%;
        right: 10%;
        color: #FFFFFF;
        font-size: 1em;
    }

    .cart-alligner input {
        background-color: #339900;
        background-color: olivedrab;
        color: #FFFFFF;
        width: 100%;
        font-size: 1em;
        font-weight: bold;
        height: 2em;
        border: none;
        border-radius: 4px;
        margin-bottom: 1em;
    }

    .cart-alligner input:hover {
        background-color: #336600;
        background-color: darkgreen;
        color: lightgray;
        width: 100%;
        font-size: 1em;
        font-weight: bold;
        height: 2em;
        border: none;
        border-radius: 4px;
        margin-bottom: 1em;
    }
    article p {
        font-size: 1.45em;
        padding: 1em;
    }
    article img {
        margin-right: 15px;
        float: left;
    }
    footer #f-logo-image {
        width: 50%;
        padding-top: 3em;
    }
    #front-page article {
        width: 50%;
        padding-bottom: 2em;
        margin-top: 2em;
        padding-top: 2em;
        padding-right: 2em;
        overflow: hidden;
    }
    #input-index {
        background-color: lightgrey;
        color: #000066;
        padding: 0.5em 2em;
        font-size: 1.5em;
        font-weight: bold;
        height: 3em;
        border: none;
        border-radius: 8px;
    }

    #index-form {
        width: 25%;
        padding: 4em 0em 8em;
        align-content: center;
        transform: translate(162%, 0%);
    }
}
/*Mobile*/
@media screen and (max-width: 450px){
    
    .header-banner .title-alligner {
        position: absolute;
        top: 12.5%;
        left: 13%;    
        width: 45%;
    }
    .main-content {
        padding: 0% 2%;
    }
    .grid-wrapper {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 4em;
        background-color: #fff;
        color: #444;
        padding: 0%;
    }
    .shopping-grid-squares #item-image {
        width: 100%;
        height: 10%;
    }
    .header-banner .title-alligner .logo-image {
        width: 100%;
        height: 17em;
    }
    h1 {
        display: none;
    }
    .header-banner #banner-image {
        visibility: hidden !important;
        height: 10em;
    }
    .nav-bar {
        width: 100%;
        background-color: lightgray;
        height: 2em;
        font-size: 1em;
        position: relative;
        text-align: center;
    }
    .nav-bar-links {
        color: #000066;
        position: absolute;
        top: 30%;
        left: 20%;
        -webkit-transform: translate(-50%, -20%);
    }
    .shopping-grid-squares .shopping-grid-squares-text {
        padding: 0% 10%;
        font-size: 1em;
    }
    footer {
        align-content: center;
        text-align: center;
        background-color: #050585;
        color: #FFFFFF;
        padding-bottom: 3em;
        font-size: 1em;
    }
    .header-banner .cart-alligner {
        position: absolute;
        top: 30%;
        right: 5%;
        color: #FFFFFF;
        font-size: 1em;
    }

    .cart-alligner input {
        background-color: #339900;
        background-color: olivedrab;
        color: white;
        width: 100%;
        font-size: 1em;
        font-weight: bold;
        height: 2em;
        border: none;
        border-radius: 4px;
        margin-bottom: 1em;
    }

    .cart-alligner input:hover {
        background-color: #336600;
        background-color: darkgreen;
        color: lightgray;
        width: 100%;
        font-size: 1em;
        font-weight: bold;
        height: 2em;
        border: none;
        border-radius: 4px;
        margin-bottom: 1em;
    }
    article p {
        display: none;
    }
    article img {
        float: left;
    }
    footer #f-logo-image {
        width: 75%;
        padding-top: 3em;
    }
    aside {
        display: none;
    }
    article {

        width: 100%;

        padding-bottom: 2em;

        padding-top: 2em;

        overflow: hidden;

    }
    #input-index {
        background-color: lightgrey;
        color: #000066;
        padding: 0.5em 2em;
        font-size: 1.5em;
        font-weight: bold;
        height: 3em;
        border: none;
        border-radius: 8px;
    }

    #index-form {
        width: 25%;
        padding: 4em 0em 8em;
        align-content: center;
        transform: translate(80%, 0%);
    }
}




h2 {
    color: #330066;
    font-size: 150%;
}

h3 {
    font-size: 2.5em;
    color: #330066;
}

.shopping-grid-squares {
    background-color: ghostwhite;
    color: #1c1c17;
    border-color: #cbcbbe;
    border-width: 1em;
    padding: 0px;
}

.cart-items {
    width: 100%;
    overflow: hidden;
}

.cart-items .descrip {
    font-size: 1.5em;
}

.cart-items img {
    height: 100px;
    width: 100px;
}

.cart-items h4 {
    font-size: 1.5em;
    color: #330066;
}

.blog-images {
    height: 27em;
    width: 28em;
}

.page-title{
    font-size: 3em;
}

header {
    width: 100%;
    padding: 0%;
    margin: 0%;
}

#cart-image {
    width: 2em;
    height: 2em;
    margin: 1em;
}




#main-header {
    font-size: 4em;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.checkout input {
    width: 66%;
    font-size: 3em;
}

.checkout-label {
    font-size: 2em;
    color: #330066;
    font-weight: bolder;
}

.radial input {
    width: 10%;
}

select {
    height: 3em;
}

.grid-wrapper .article .name {
    font-size: 1.7em; 
    color: #330066;
}

.grid-wrapper .article .price {
    font-size: 1.2em;
    font-weight: bold;
}

.total{
    font-size: 1.5em;
}

p select{
    padding: 0%;
    font-size: 1.5em;
}

.checkout-submission {
    width: 15%; 
    background-color: #339900; 
    color: #FFFFFF; 
    border: none; 
    border-radius: 8px; 
    margin-top: 3em; 
    margin-bottom: 3em;
}

.checkout-submission:hover{
    width: 25%;
    background-color: #336600;
    color: lightgray;
    border: none;
    border-radius: 8px;
    margin-top: 3em;
    margin-bottom: 3em;
}
