body, html {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

.header-banner {
    position: relative;
    text-align: center;
    background-color: darkgrey;
    width: 100%;
}

.header-banner .title-alligner {
    position: absolute;
    top: 25%;
    left: 13%;    
    width: 45%;
}

.shopping-grid-squares .shopping-grid-squares-text button {
    background-color: #339900;
    background-color: olivedrab;
    color: #FFFFFF;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    height: 2em;
    border: none;
    border-radius: 8px;
    margin-bottom: 1em;
}

.shopping-grid-squares .shopping-grid-squares-text button:hover {
    background-color: #336600;
    background-color: darkgreen;
    color: lightgray;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    height: 2em;
    border: none;
    border-radius: 8px;
    margin-bottom: 1em;
}

#input-index {
    background-color: lightgrey;
    color: #000066;
    padding: 0.5em 2em;
    font-size: 1.5em;
    font-weight: bold;
    height: 3em;
    border: none;
    border-radius: 8px;
}

#index-form {
    width: 25%;
    padding: 4em 0em 8em;
    align-content: center;
    transform: translate(162%, 0%);
}


.footer-banner {
    background-color: #050585;
}

/*Desktop*/
@media screen and (min-width: 1024px){
    
    .header-banner .title-alligner {
        position: absolute;
        top: 25%;
        left: 13%;    
        width: 45%;
    }
    .main-content {
        padding: 0% 12%;
    }
    .grid-wrapper {
        display: grid;
        grid-template-columns: 21.7% 21.7% 21.7% 21.7%;
        grid-gap: 4em;
        background-color: #fff;
        color: #444;
        padding: 3% 0%;
    }
    .shopping-grid-squares .item-image {
        width: 100%;
        height: 10em;
    }
    .header-banner .title-alligner #logo-image {
        width: 100%;
        /*height: 12.5em;*/
    }
    h1 {
        font-size: 3em;
        color: #339900;
        color: olivedrab;
    }
    #banner-image {
        width: 100%;
        height: 40em;
    }
    .nav-bar {
        width: 100%;
        background-color: lightgray;
        height: 4em;
        font-size: 2em;
        position: relative;
        text-align: center;
    }
    .nav-bar-links {
        color: #000066;
        position: absolute;
        top: 35%;
        left: 12%;
    }
    .shopping-grid-squares .shopping-grid-squares-text {
        padding: 0% 10%;
        font-size: 1.5em;
    }
    footer {
        align-content: center;
        text-align: center;
        background-color: #050585;
        color: #FFFFFF;
        padding-bottom: 3em;
        font-size: 1.5em;
    }
    .header-banner .cart-alligner {
        position: absolute;
        top: 12%;
        right: 10%;
        color: #FFFFFF;
        font-size: 2em;
    }

    .cart-alligner input {
        background-color: #339900;
        background-color: olivedrab; 
        color: #FFFFFF;
        width: 100%;
        font-size: 0.75em;
        font-weight: bold;
        height: 1.5em;
        border: none;
        border-radius: 4px;
        margin-bottom: 1em;
    }

    .cart-alligner input:hover {
        background-color: #336600;
        background-color: darkgreen;
        color: lightgray;
        width: 100%;
        font-size: 0.75em;
        font-weight: bold;
        height: 1.5em;
        border: none;
        border-radius: 4px;
        margin-bottom: 1em;
    }
    article p {
        font-size: 1.45em;
        padding: 1em;
    }
    article img {
        margin-right: 15px;
        float: left;
    }
}
/*Tablet*/
@media screen and (max-width: 1024px) and (min-width: 450px){
    
.header-banner .title-alligner {
    position: absolute;
    top: 25%;
    left: 13%;    
    width: 45%;
}
    .main-content {
        padding: 0% 5%;
    }
    .grid-wrapper {
        display: grid;
        grid-template-columns: 43.4% 43.4%;
        grid-gap: 4em;
        background-color: #fff;
        color: #444;
        padding: 3% 0%;
    }
    .shopping-grid-squares .item-image {
        width: 100%;
        height: 10em;
    }
    .header-banner .title-alligner #logo-image {
        width: 100%;
        /*height: 12.5em;*/
    }

    h1 {
        font-size: 2em;
        color: #339900;
        color: olivedrab;
    }
    #banner-image {
        width: 100%;
        height: 20em;
    }
    .nav-bar {
        width: 100%;
        background-color: lightgray;
        height: 3em;
        font-size: 1.5em;
        position: relative;
        text-align: center;
    }
    .nav-bar-links {
        color: #000066;
        position: absolute;
        top: 30%;
        left: 5%;
    }
    .shopping-grid-squares .shopping-grid-squares-text {
        padding: 0% 10%;
        font-size: 1em;
    }
    footer {
        align-content: center;
        text-align: center;
        background-color: #050585;
        color: #FFFFFF;
        padding-bottom: 3em;
        font-size: 1em;
    }
    .header-banner .cart-alligner {
        position: absolute;
        top: 30%;
        right: 10%;
        color: #FFFFFF;
        font-size: 1em;
    }

    .cart-alligner input {
        background-color: #339900;
        background-color: olivedrab;
        color: #FFFFFF;
        width: 100%;
        font-size: 1em;
        font-weight: bold;
        height: 2em;
        border: none;
        border-radius: 4px;
        margin-bottom: 1em;
    }

    .cart-alligner input:hover {
        background-color: #336600;
        background-color: darkgreen;
        color: lightgray;
        width: 100%;
        font-size: 1em;
        font-weight: bold;
        height: 2em;
        border: none;
        border-radius: 4px;
        margin-bottom: 1em;
    }
    article p {
        font-size: 1.45em;
        padding: 1em;
    }
    article img {
        margin-right: 15px;
        float: left;
    }
}
/*Mobile*/
@media screen and (max-width: 450px){
    
    .header-banner .title-alligner {
        position: absolute;
        top: 6%;
        left: 10%;    
        width: 45%;
        height: 40%;
    }
    .main-content {
        padding: 0% 2%;
    }
    .grid-wrapper {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 4em;
        background-color: #fff;
        color: #444;
        padding: 0%;
    }
    .shopping-grid-squares .item-image {
        width: 100%;
        height: 10%;
    }
    .header-banner .title-alligner #logo-image {
        width: 100%;
        height: 12.5em;
    }
    h1 {
        font-size: 2em;
        color: #339900;
        color: olivedrab;
    }
    .header-banner #banner-image {
        visibility: hidden !important;
        height: 20em;
    }
    .nav-bar {
        width: 100%;
        background-color: lightgray;
        height: 2em;
        font-size: 1em;
        position: relative;
        text-align: center;
    }
    .nav-bar-links {
        color: #000066;
        position: absolute;
        top: 30%;
        left: 20%;
        -webkit-transform: translate(-50%, -20%);
    }
    .shopping-grid-squares .shopping-grid-squares-text {
        padding: 0% 10%;
        font-size: .5em;
    }
    footer {
        align-content: center;
        text-align: center;
        background-color: #050585;
        color: #FFFFFF;
        padding-bottom: 3em;
        font-size: 1.5em;
    }
    .header-banner .cart-alligner {
        position: absolute;
        top: 30%;
        right: 5%;
        -webkit-transform: translate(-24%, -10%);
        color: #FFFFFF;
        font-size: 1em;
    }

    .cart-alligner input {
        background-color: #339900;
        background-color: olivedrab;
        color: white;
        width: 100%;
        font-size: 1em;
        font-weight: bold;
        height: 2em;
        border: none;
        border-radius: 4px;
        margin-bottom: 1em;
    }

    .cart-alligner input:hover {
        background-color: #336600;
        background-color: darkgreen;
        color: lightgray;
        width: 100%;
        font-size: 1em;
        font-weight: bold;
        height: 2em;
        border: none;
        border-radius: 4px;
        margin-bottom: 1em;
    }
    article p {
        visibility: hidden !important;
    }
    article img {
        float: left;
    }
}




h2 {
    color: #330066;
    font-size: 150%;
}

h3 {
    font-size: 2.5em;
    color: #330066;
}

.shopping-grid-squares {
    background-color: ghostwhite;
    color: #1c1c17;
    border-color: #cbcbbe;
    border-width: 1em;
    padding: 0px;
}

.cart-items {
    width: 100%;
    overflow: hidden;
}

.cart-items #descrip {
    font-size: 1.5em;
}

.cart-items img {
    height: 100px;
    width: 100px;
}

.cart-items h4 {
    font-size: 1.5em;
    color: #330066;
}

.blog-images {
    height: 27em;
    width: 28em;
}

.page-title{
    font-size: 3em;
}

header {
    width: 100%;
    padding: 0%;
    margin: 0%;
}

#cart-image {
    width: 2em;
    height: 2em;
    margin: 1em;
}


footer #logo-image {
    width: 25%;
    padding-top: 3em;
}

article {
    width: 100%;
    padding-bottom: 2em;
    padding-top: 2em;
    overflow: hidden;
}





heading {
    font-size: 4em;
}

#checkout input {
    width: 66%;
    font-size: 3em;
}

#checkout-label {
    font-size: 2em;
    color: #330066;
    font-weight: bolder;
}

.radial input {
    width: 10%;
}

select {
    height: 3em;
}

.grid-wrapper .article .name {
    font-size: 1.7em; 
    color: #330066;
}

.grid-wrapper .article .price {
    font-size: 1.2em;
    font-weight: bold;
}

.total{
    font-size: 1.5em;
}

p select{
    padding: 0%;
    font-size: 1.5em;
}

.checkout-submission {
    width: 15%; 
    background-color: #339900; 
    color: #FFFFFF; 
    border: none; 
    border-radius: 8px; 
    margin-top: 3em; 
    margin-bottom: 3em;
}

.checkout-submission:hover{
    width: 25%;
    background-color: #336600;
    color: lightgray;
    border: none;
    border-radius: 8px;
    margin-top: 3em;
    margin-bottom: 3em;
}
