*{
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
}

header {
	background-image: url("images/header-image.jpg");
	background-size: cover;
	color: white;
	height: 400px;
	padding: 5rem;
}

.float-right {
	float: right;
	padding: 4em;
}

header button {
  background-color: green;
  color: white;
  font-weight: bolder;
	border-style: none;
	height: 30px;
	width: 110px;
}

header h1 {
}

header h3 {
  color: green;
	font-style: italic;
}

nav {
	padding:1em;
}

.flexbox-container {
  display: inline-flex;
	flex-direction: row;
  justify-content: center;
	align-content: center;
  padding: 10em;
}

article button {
	background-color: green;
  color: white;
  font-weight: bolder;
	border-style: none;
	height: 30px;
	width: 110px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
	display:inline;
}

a {
	color: black;
	padding: 1%;
	text-decoration: none;
}

footer{
  padding-top: 20px;
  text-align: center;
  clear: both;
  color: white;
	padding: 1rem;
}
