* {
  font-family: 'Montserrat', "Century Gothic", sans-serif;
  margin: 0;
  padding: 0;
}
p {
  font-size: 1.05rem;
  line-height: 1.75rem;
}
h2, h3, h4, h5 {
  font-family: 'Alegreya', serif;
  font-weight: 800;
  color: rgb(9, 60, 96);
}
a{
  text-decoration: none;
}
header {
  height: 25%;
  width: auto;
  background-image: url(images/header-image.jpg);
  background-color: rgb(10, 10, 10);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 70%;
  padding: 3rem 3rem 9rem 3rem;
}
.logo{
  width: 30%;
  height: auto;
}
h1{
  color: white;
  text-transform: uppercase;
  font-style: italic;
}
header h2 {
  color: rgb(48, 207, 106);
  font-size: 1.25rem;
}
h3 {
  font-size: 2rem;
  padding-bottom: .5rem;
}
.checkout-corner {
  float: right;
}
.checkout-corner a {
  color: white;
}
i{
  color: white;
}
nav {
  padding: 1rem 10% 1rem 9%;
  background-color: rgb(236, 236, 236);
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
nav a {
  font-size: 1.5rem;
  margin: 1rem;
  color: rgb(9, 60, 96);
}
nav a::after{
  padding-right: 5rem;
}
nav a:visited {
  color: black;
}
nav a:hover {
  color: rgb(48, 207, 106);
}
img {
  width: 100%;
  height: auto;
}
.container {
  padding-left: 10%;
  padding-right: 10%;
}
footer {
  background-color: rgb(9, 60, 96);
  color: white;
  height: 100%;
  margin-top: 4rem;
  padding: 3rem 10rem 6rem 10rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer a {
  display: flex;
  align-items: center;
}
