* {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin: 0;
  padding: 0;
  line-height: 1.8;
  box-sizing: border-box;
  margin: 0 auto;
}

header {
  background: linear-gradient(to right, rgb(13,73,132), rgb(217,217,217));
  background-image: url("images/header-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(255,255,255);
  height: 28rem;
  padding: 2% 1% 0% 1%;
  display: flex;
  justify-content: space-between;
}

.main-content {
  margin-top: 1%;
  margin-left: 2%;
  padding: 2% 10% 2% 10%;
}

.blog-preview {
  float: right;
  width: 32%;
  padding-left: 4%;
  padding-right: 4%;
}

nav {
  width: 100%;
  background-color: rgb(217,217,217);
  color: rgb(13,73,132);
  padding: 2% 10% 2% 10%;
  border: 1rem;
  font-size: 1em;
}

h3, a {
  text-decoration: none;
  font-weight: bolder;
  color: rgb(13,73,132);
  font-size: 1.25rem;
}

.logo {
  max-height: 66%;
  max-width: 60%;
}

.cart {
  width: 16%;
  margin-right: 2%;
  padding: 2%;
}

h1 {
  color: #3fb63f;
  font-family: Neuton;
  font-style: italic;
  font-size: 2rem;
}

.header-title {
  display: inline;
}

button .checkout {
  font-weight: bold;
  background-color: #3fb63f;
  color: white;
  width: 100%;
}

.cart-icon {
  width: 8%;
  margin-right: 2%;
}

h2 {
  font-weight: bold;
  color: rgb(13,73,132);
  padding: 2% 0% 2% 0%;
  font-size: 2rem;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

.first-image {
  display: block;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.home-intro {
  margin-right: 32%;
}

.preview {
  padding-top: 10%;
  padding-bottom: 10%;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2%;
  row-gap: 6%;
  margin-right: 4%;
  }

.dogs-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 6%;
  }

.profile {
  box-shadow: 0 .25rem .25rem 0 rgba(0, 0, 0, 0.2);
  max-width: 14rem;
  padding: 2%;
  margin: auto;
  font-size: .75rem;
}

.button {
  background-color: #3fb63f;
  color: white;
  font-weight: bold;
  width: 100%;
}

.blog-img {
  float: left;
  margin-right: 6%;
  display: block;
  max-width: 100%;
  height: auto;
}

.preview-img {
  max-height: 75%;
  max-width: 75%;
}

.blog {
  clear: both;
  padding: 0% 8% 2% 8%;
  margin-top: 4%;
}

.see-more {
  text-align: center;
  background-color: rgb(217,217,217);
  color: rgb(13,73,132);
  text-decoration: none;
  font-weight: bold;
  padding: 2% 10% 2% 10%;
  grid-column: 2 / 3;
}

.read {
  color: rgb(85, 157, 167);
  text-decoration: none;
  font-size: 1rem;
}

.checkout-form {
  padding-left: 8%;
}

.adopted-dogs {
  max-width: 15%;
}

footer {
  position: fixed;
  margin-top: 10%;
  width: 100%;
  border: 4rem;
  background-color: rgb(101,98,98);
  padding: 2%;
  color: white;
  text-align: center;
}

.all-dogs {
  margin-left: 2%;
}

.blog-title {
  margin-left: 8%;
  margin-bottom: -4%;
}

.mobile-blog {
  display: none;
}

/* mobile-grid */
@media (max-width: 599px) {

  .dogs-grid {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    row-gap: 1%;
  }

  .home-intro {
    margin-right: auto;
    padding: 2% 0% 0% 0%;
  }

  .home-grid {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    justify-content: center;
  }

    .profile {
      box-shadow: 0 .25rem .25rem 0 rgba(0, 0, 0, 0.2);
      max-width: 100%;
      padding: 2%;
      margin: auto;
      font-size: 1rem;
    }

    aside {
      display: none;
    }
  }

/* Tablet Portrait */
@media only screen
    and (min-width: 768px)
    and (max-width: 1024px)
    and (orientation: portrait) {

      .first-image {
        max-width: 98%;
        height: auto;
      }

      .home-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
        row-gap: 2%;
      }

      .main-content {
        padding: 0% 0% 0% 0%;
      }


      .dogs-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        row-gap: 1%;
      }
  }

/* Tablet Landscape */
@media only screen
    and (min-width: 768px)
    and (max-width: 1024px)
    and (orientation: landscape) {

      .first-image {
        max-width: 98%;
        height: auto;
      }

      .dogs-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        row-gap: 1%;
      }

      .main-content {
        padding: 0% 0% 0% 0%;
      }

      .home-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
        row-gap: 1%;
      }
  }
