<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Adoptadog - Seattle's premiere dog adoption agency</title>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <ul class='cards'>
      <li class='card'>
        <img src="images/murphy-card.jpg" alt="Murphy - a large brown dog with floppy ears">
        <h2>Murphy</h2>
        <p><strong>Cost to Adopt:</strong> $123.45</p>
        <p>The least little bit can do so much. Everybody needs a friend.</p>
        <a href="#" class='action-button'>Adopt</a>
      </li>
    </ul>
  </body>
</html>
