* {box-sizing: border-box;}

div{
    margin-left: 20%;
}

input[type=text], select {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

header {
    background-color: darkblue;
    color: white;
   /* height: 10em;
    padding: 10px 150px 35px;
    */
}
 img {
         margin: 5px 5px 0 10px;
         padding: 2px;
         width: 100px;
         height: 100px;
         border-radius: 25px;
}
#id {
background: grey;
border: 1px solid black;
}

footer p {
    margin-top: 4px;
    margin-bottom: 0%;
}
footer {
background-color: grey;
    color: white;
    text-align: center;
}