* { box-sizing: border-box;}
body { font-size: 20px;}
.clear {clear:left; }
a:link {text-decoration: none}
header { 
	background-color: darkblue; 
	color: white; 
	padding-top:1% ; 
}
.logo { 
	float: left; 
	width: 80%; 
	height: 30%;
}
.logo img { 
	width: 40%; 
	height: auto;
}
figcaption { 
	font-size: 1.5rem;
	font-weight: bold;
	color:green;
}
.checkout {font-size:.7rem;}
.checkout img {
	background-color: darkblue; 
	width: 3%; height:auto; 
	margin-right: 1% 
}
button { 
	background-color: #4CAF50;
	color:white; width:10%;
	font-size: .7rem;
}
nav {
	background-color: grey; 
	padding-left:10%; 
	height: 3rem;
}
section {  
	padding-left: 10%; 
	padding-right:10%;
}
nav>a { 
	vertical-align: bottom;
	color: blue; 
}
.intro-img {
	float: left;
	background-color: pink; 
	width: 30%; 
	margin-right:5%; 
}
  
/* FORM */
.form-container {
	padding-top: 0;
	padding-bottom: 1%;
	padding-left: 10%;
	padding-right: 10%;
	width:60%; 
	color: blue;
	font-size: 1.2rem;
}
.col-25{
	float: left;
	width: 25%;
	margin: 0;
	padding:0;
}
.col-30{
	float: left;
	width: 30%;
	margin: 0;
}
.col-40{
	float: left;
	width: 40%;
	margin: 0;
}
.col-50{
	float: left;
	width: 50%;
	margin: 0;
}
.col-100{
	float: left;
	width: 100%;
	margin-top: .2rem;
}
.checkout-container{
	display: flex;  
	flex-wrap: wrap;
	padding: 0; 
 }
.checkout-dog img {float: left;  width: 30%; padding-right: 1%; }
.checkout-dog p:first-child { color: red;}
.checkout-dog p { font-size: .8rem; }

.checkout-container > div {
	margin-top: 5%; 
	margin-bottom:5%; 
	overflow:auto; 
	width:100%;
}
p.cost {
	color: black;
	font-style: normal;
}
.total-cost {
	width:30%; 
	margin: 0;
	padding: 0;
}
.row { 
	margin-bottom: 3%;
}
.row:after {
	content: "";
	display: table;
	clear:both;
}

input[type=text], select {
  width: 80%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5%;
  box-sizing: border-box;
  margin-top: .5rem;
  margin-bottom: 1rem;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 5% 4%;
  margin-right: 70%;
  border: none;
  border-radius: 5%;
  cursor: pointer;
}
/*------- FORM */

/*  BLOG   */
.blog-container {
	display: flex;  
	flex-wrap: wrap;
	padding-left: 1%; padding-right:1%; 
}

.blog img {float: left;  width: 30%; padding-right: 5%; }
.blog p { font-size: 80%; }
 
.blog-container > div {
	margin-top: 5%; margin-bottom:5%; 
	overflow:auto; width:100%;
}
 
.flex-container {
	display: flex;  
	flex-wrap: wrap;
	font-size: 80%; padding-left: 10%; padding-right:10%; 
}

.flex-container > div {
	width: 22%;
	margin: 1%;
	border: 1px solid grey;
}
.flex-container img {	
	width: 100%;
	height: auto;
}
 
input[type="submit"]{
	color: white;
	background-color: #4CAF50;
	width:100%;
	font-size: 1.2rem;
	border-radius:.2%;
}
.dog {
	padding: 1%;
	margin: 5%;
}
#more-dogs {
	margin: 2% 45% 5% 45%;
	padding: .5% 3%;
	text-align: center;
	display: inline-block;
	background: grey;
	width: 20%;
}

footer p {
    margin-top: 4px;
    margin-bottom: 0%;
}

footer {
	padding: 3%; 
	font-size: .9rem;
	background: grey;
    color: white;
    text-align: center;
}

footer>img{ 
	width: 20%; 
	height: auto;
}
footer a {color: white;}