/* Laptop L */
@media (max-width: 1439px) {
    .block-1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .block-1 .second-side {

        margin-left: 0;
    }

    .block-2 .item {
        flex-basis: 45%;
    }

    a.more-dogs {
        width: 20%;
    }
}

/* Laptop */
@media (max-width: 1025px){
    
    .container
{
    padding: 0 50px ;
}

    h2 {
        text-align: center;
    }

     a.more-dogs {
        width: 30%;
    }

}

/* Tablet */
@media (max-width: 769px){


     a.more-dogs {
        width: 100%;
    }

}