* {
  box-sizing: border-box;
}

.head{
  background-image: url(../images/header-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
  padding-top: 2rem;
  padding-left: 0rem;
}
.head img{
  margin-left: 2rem;
  max-width: 29%;
}
.head p{
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-left: 3rem;
  font-size: 2em;
  margin-top: 0;
  color: rgb(97, 142, 49);
}
.checkout{
  float:right;
  color: white;
  max-width: 10rem;
  margin-right: 3rem;
}
.checkout img{
  width: 15%;
}
.checkout-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    justify-content: left;
    color: rgb(9, 60 , 96);
}
.checkout input[type=button]{
  display: block;
  background-color: rgb(132, 180, 68);
  color: white;
  border: none;
  min-height: 1rem;
  min-width: 75%;
}
.checkout a{
    color: white;
}
.top ul {
  list-style-type: none;
  padding-left: 5rem;
  height: 3rem;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: lightgray;
  font-weight: bold;
  margin: 0;
}
.top li {
  float: left;
}
.top li a {
  display: block;
  color: rgb(9, 60 , 96);
  font-size: 1em;
  text-align: center;
  padding-top: 1rem;
  text-decoration: none;
}
.top li a:hover:not(.active) {
  background-color: #ddd;
}
.top a:after {
  padding-left: 6px;
  padding-right: 6px;
  content: "/";
  color: rgb(9, 60 , 96);
}
.top li:last-child a:after{
  content: "";
}
.top li a.active {
  color: white;
  background-color: #4CAF50;
}
.top-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  justify-content: center;
  color: rgb(9, 60 , 96);
}
.top-section2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
  justify-content: center;
  color: rgb(9, 60 , 96);
}
.top-text{
  margin-left: 1.5rem;
  flex-basis: 35%;
}
.top-text2{
  color: rgb(9, 60 , 96);
  padding-left: 6rem;
}
.top-text h2{
  font-size: 2rem;
}
.top-text h3{
  font-size: 2vw;
  margin: 0;
}
.top-text p{
  font-size: 1.4vw;
}
.top-image{
  flex-basis: 35%;
}
.top-image img{
  min-width: 85%;
}
.dog-checkout{
    flex-basis: 10%;
}
.dog-checkout img{
  max-height: 4rem;
}
.container1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding-right: 5rem;
  padding-left: 5rem;
  justify-content: center;
}
.container1 img{
  min-width: 100%;
  max-width: 100%;
}
.container1 input[type=button]{
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  background-color: rgb(132, 180, 68);
  color: white;
  border: none;
  min-height: 2rem;
  min-width: 90%;
}
.container1 div{
  margin: 1rem;
  max-width: 20%;
}
.container1 p{
  padding: 5%;
  margin: 0;
  font-size: 0.75em;
}
.container1 h3{
  margin: 0em;
  padding-left: 5%;
  padding-right: 5%;
}
span{
  color: black;
  font-weight: 600;
}
.item1{
  border-width: 2px;
  border-color: lightgray;
  border-style: solid;
  flex-basis: 25% ;
}
.item2{
  margin-right: 4rem;
}
.foot{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  height: 20rem;
  background-color: rgb(9, 60 , 96);
  color: white;
  font-size: 12px;
}
.foot img{
  max-width: 100%;
  max-height: 100%;
  padding-top: 2rem;
}
.foot-items{
  max-width: 35%;
  text-align: center;
}
.foot ul {
  padding-left: 6rem;
  list-style-type: none;
  overflow: hidden;
}
.foot li {
  float: left;
}
.foot li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}
.foot a:after {
  padding-left: 6px;
  content: "/";
  color: white;
}
.foot li:last-child a:after{
  content: "";
}
.more input[type=button]{
  width: 15rem;
  height: 2.5rem;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgray;
  color: rgb(9, 60 , 96);
  border: none;
  font-weight: bold;
}
.checkout-form {
  max-width: 50%;
  margin:auto;
  padding-left: 6rem;
  color: rgb(9, 60 , 96);
}
.checkout-form h3{
  margin: 0;
  margin-top: 0.5rem;
}
.checkout-form input[type=text], select {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.checkout-form input[type=submit] {
  width: 25%;
  font-size: 1em;
  font-weight: bold;
  background-color: rgb(129, 183, 65);
  color: white;
  padding: 14px 20px;
  margin: 12px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.checkout-form input[type=submit]:hover {
  background-color: #45a049;
}
