.grid-container {
    display: grid;
    /*Need to decide on columns, rows, or other approach*/
    /*May also need to figure out if you can do multiple grids in one page and if so whether that is best approach here*/
}

a:link {
  text-decoration: none;
}
  
a:visited {
  text-decoration: none;
}
  
#banner {
  background-color: #093b60;
}

a.subtitle:visited {
  color: #093b60;
}

#letterhead {
/*Position to left of top field */
}

#toplogo {
  /*Size to fit top field; I've just shrunk it a bit for now */
  width: 40%;
}

#cart {
/*Position to top right of top field */
}

#carticon {
/*Size to make small; I've just shrunk it a bit for now*/
width: 10%;
}

#cartprice {
  /*size and check font, perhaps bold*/
  color: white;
}

#checkout-button {
/*Green background, position beneath cart icon */
color: white;
}

h1 {
  color:#81B642;
  font-style: italic;
/*Size */
}

#subbanner {
  background-color: #ebebeb;
  /*Size */
}

.subtitle {
 /*Position away from left margin and check font */
  color: #093b60;
  font-weight: bold;
}

#welcome {
/*Center L and R, make below subbanner, add some padding */
}

#hugpicture {
/*Size down and padding */
}

h2 {
/*Color blue and size up; check font */
}

#lead-in {
  /*Check size and font */
}

.profiles {
/*Center L and R, make below "welcome" or "subbanner" dep on page, light gray border and padding  */
}

.profile-card {
  /*Wrapper for individual dog profiles */
}

.profilepicture {
  /*Size down and center in div */
}

h3 {
  /*Make blue, check size and font */
}

.cost {
  /*Check font and size */
}

.bio {
  /*Check font and size */
}

.adopt-button {
  /*Green backround white text, centered LR in div, padding */
}

#whitespace {
  /*Make big enough for some padding*/

}

#moredogs {
  /*Text blue, background light grey, LR centered, closer to top than bottom*/
}

#footer {
  /*Maybe nothing needed*/
}

#basefield {
  background-color: #3C3C3C;
  /*some padding above*/
}

#bottomlogo {
  /*size and center LR*; just shrank a bit for now*/
  width: 20%;
}

#footer-text {
/*Center LR, font*/
color: white;
}

.footer-link {
/*Center LR,*/
color: white;
}

a.footer-link:visited {
  color: white;
}
#copyright {
  /*Different font, LR center*/
  color: white;
}

.blogentry {
  /*Wrap image, h3, and text; some padding*/
}

.blogpic {
  /*Position and size*/
}

.blogtext {
  /*Size, color (grey), and font*/
}

.formfield {
  /*Not totally sure; font color and size; padding*/
}

.dogsadopted {
  /*same font as formfield*/
}

.dogincart{
  /*position with image and text*/
}

.adoptedname {
  /*same font as formfield but smaller*/
}

.outpic {
  /*Size small for cart*/
}

.cartcost {
  /*Same font as in top right but grey and small*/
}

#totalcost{
  /*same font color and size and #dogsadopted*/
}

#totalprice{
  /*grey, medium size, font*/
}

input[type=submit] {
  display: block;
  width: 20%; /*or some other size*/
  background-color: 	#81B642;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1rem;
}

/*Need to style city, state, and zip so that they're in one line and make Yes/No be on one line as well*/