.Body {
bacoground-color: rgb(236,236,236);
text-align: center;
}

.home-intro {
  width: 100%;
  height: auto;
}

.dogface {
  width: auto;
  height: 15px;
}

.logotop {
 	top: 10px;
 	left: 10px;
}

img {
      height: 200px;
      width: inherit;
}

.footimg {
  height: 200px;
  width: inherit;
  position: center;
}

.dogsadopted {
  width: auto;
  height: 20%;
}

.adopt {
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-content: space-between;
  }

.blue {
  color: rgb (9,60,96);
  position: bottom;
  width:auto;
}

.meet-me {
  size: 2px;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1rem;
}
input[type=submit] {
  width:100%;
  background-color:rgb(129,183,65);
}

input {
  border-radius: 15px;
}
fieldset {
  border:none;
}
fieldset input {
  display: inline;
}
