* {
    box-sizing: border-box;
  }

h1, h2, h3, label, legend {
  font-family: 'Cormorant Garamond', serif;
}

p, a {
  font-family:  'Work Sans', serif;
}

header.head {
    background-image: url(../images/header-image.jpg);
    background-size: cover;
    padding: 2em 4em 4em;
    padding-bottom: 10em;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.head-logo {
  width: 33%;
}

header h1 {
    color: #77ad3b;
    font-style: italic;
    font-weight: 500;
    font-size: 175%;
    margin-top: 0%;
}

.checkout-button, .checkout-button a {
    float: right;
    clear: both;
    background-color: #77ad3b;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 3em;
    padding-right: 3em;
    font-weight: 900;
    color: white;
    text-decoration: none;
    font-size: 1em;
    
}

nav.navigation {
    background-color: lightgray;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

nav a {
    padding-right: .5em;
    padding-left: .5em;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.2em;
    color: #034177;
}

nav a:not(:last-child):after  {
  content: '\2001' '/';
}

nav a#first-nav  {
    padding-left: 9em;
}

.cart {
  float: right;
  font-weight: 900;
  font-size: 1em;
  line-height: 1.5;
  padding-left: .5em;
  text-align: right;
}

.cart img {
  width: 10%;
}

.main-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4em;
}

.about-adopt {
    display: flex;
}

.about-adopt img {
    padding: 1.25em; 
    width: 75%;
    height: 75%;
    margin: auto;
}

h2.blue-title {
    color: #034177;
    font-size: 2.5em;
    padding-left: .5em;
}

h3.blue-title {
  color: #034177;
  font-size: 1.75em;
  font-weight: 900;
  margin-top: 0em;
  margin-bottom: .75em;
}

h3.blue-title-checkout {
  color: #034177;
  font-size: 1.75em;
  font-weight: 900;
  margin-top: 1.5em;
}

.about-adopt-text p {
    font-size: 1.4em;
    font-weight: 100;
    line-height: 1.4;
    padding-left: 1em;
}

div.gallery-item {
    float: left;
    width: auto;
    padding: 0em;
    margin: 1em;
    border: #f0f2f3 thick solid;
  }

  .gallery-item img {
    width: 15em;
  }

  .gallery::after {
    content: "";
    clear: both;
    display: flex;
  }

  .caption {
    padding: .5em;
    text-align: left;
    width: 15em;
  }

  .adopt-button {
    display: flex;
    justify-content: center;
    background-color: #77ad3b;
    padding: 5% 35% 5% 35%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    color: white;
    text-decoration: none;
    font-size: 1em;
    border: none;
  }

    .adopt-button-checkout {
    display: flex;
    justify-content: left;
    background-color: #77ad3b;
    padding: .75em 6em .75em 6em;
    font-weight: 900;
    color: white;
    text-decoration: none;
    font-size: 1em;
    margin: 1em 0em 4em .75em;
    border: none;
  }

  .gallery-button {
    clear: both;
    display: block;
    text-align: center;
    background-color: #f0f2f3;
    color: #034177;
    font-weight: 900;
    font-size: 1.25em;
    padding: .5em 1em .5em 1em;
    margin: 1em auto 0em auto;
    width: 20%;
    text-decoration: none;
  }

  footer {
    display: block;
    text-align: center;
    padding: 4em;
    background-color: #034177;
    color: white;
  }

  footer a {
    color: white;
    font-size: 1em;
    margin-top: 1em;
  }

  .footer-nav {
    padding: 2em;
  }

  footer p {
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    width: 33%;
    font-size: .9em;
  }

  .blog {
    display: flex;
    padding: 0em 2em 2em 0em;
}

.blog img {
    padding: 1.25em 2.5em 1.25em 1.25em; 
    width: 75%;
    height: 75%;
    margin: auto;
}

.blog-post p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.75;
}

.contact-info input {
  width: 100%;
  padding: 1.25em;
  margin: .5em 0em 4em 0em;
}

.contact-info label {
  color: #034177;
  font-size: 1.5em; 
  font-weight: 900;
}

.contact-info-radio {
  color: #034177;
  font-size: 1.5em;
  width: 60%;
  font-weight: 900;
  margin-left: 0em;
  padding-left: .75em;
}

fieldset {
  border: none;
  display: block;
  width: 60%;
  padding: 1em;
}

select {
  padding: 1.25em;
  width: 100%;
  margin: .5em auto 1em auto;
}

.container {
  display: flex;
  justify-content: space-between;
}

.contact-csz {
  display: inline-block;
  color: #034177;
  font-size: 1.5em;
  font-weight: 900;
  width: 15%;
}

.contact-csz select {
  padding: 1.25em;
  width: 100%;
}

.contact-csz#contact-city {
  width: 40%;
}

.contact-csz#contact-zip {
  width: 30%;
}

.pickup-location {
  color: #034177;
  font-size: 1.5em;
  width: 25%;
  margin: .25em 0em 1em 0em;
  padding-left: .75em;
  font-weight: 900;
}

#cart-title {
 font-weight: 900;
}

.container-cart {
  display: flex;
  justify-content: flex-start;
}

.dogs-selected img {
  width: 25%;
}

.cart-dog {
  display: inline-block;
  line-height: .5em;
  padding-left: 1em;
  margin-top: .35em;
  
  vertical-align: top;
}

.checkout {
  padding-left: 1em;
}

.total  {
  display: block;
  padding: 1em;
  line-height: .25;
}

@media (max-width: 50em) {

  .container {
    flex-direction: column;
    width: 100%;
  }

  .contact-csz#contact-city {
    width: 100%;
  }
  
  .contact-csz#contact-zip {
    width: 100%;
  }

  .contact-csz {
    width: 100%;
  }

  .pickup-location {
    width: 60%;
  }

  .container-cart {
    flex-direction: column;
  }

  .dogs-selected {
    padding: 1em;
  }

  .dogs-selected img {
    width: 25%;
  }
}
@media (max-width: 70em) {
  .about-adopt {
    flex-direction: column-reverse;
  }

  .blog {
    flex-direction: column-reverse;
  }
}

