* {
  box-sizing: border-box;
  margin: 0;
}

.header-img {
  background: linear-gradient(to right, #ECECEC, #083C61);
  background-image: url(../images/header-image.jpg);
  background-repeat: no-repeat;
  background-position: 50% 15%;
  background-size: cover;
  position: relative;
  margin: auto;

}

.logo {
  max-width: 40%;
  margin-left: 1em;
  margin-top: 1em;
}

.tagline {
  color: #81B642;
  font-size: 2.2vw;
  font-style: italic;
  font-weight: 200;
  margin: 0;
  margin-left: 1em;
}

.cart-total {
  color: white;
  position: absolute;
  left: 70%;
  top: 10%;
  width: 8vw;
}

.cart-icon {
  max-width: 1em;
}

.checkout-btn {
  background-color: #81B642;
  border: none;
  color: white;
  padding: .5vw 2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}

.navbar {
  background-color: #ECECEC;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 10%;
}

.navlink {
  color: #083C61;
  text-decoration: none;
  font-weight: bold;
  padding-right: 1em;
  padding-left: 1em;
  font-size: 1em;
}

.blog-container {
  display: grid;
  grid-template-columns: auto;
  padding-bottom: 1em;
  justify-content: center;
}

@media screen and (min-width: 769px) {
  .blog-container {
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 1em;
    justify-content: center;
    max-width: 60em;
    margin: auto;
    margin-top: 2em;
  }
}

.blog-img-container {
  margin: auto;
}

.blog-img {
  max-width: 20em;
}

.blogtext {
  font-size: 1em;
  padding-left: 10px;
  max-width: 85%;
  margin: auto;
}

h3 {
  color: #083C61;
}

.content-grid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

.blog-prev-grid {
  display: none;
}

/* Display blog preview only when desktop screen size  */
@media screen and (min-width: 1024px) {
  .blog-prev-grid {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin-left: 2em;
  }
}

/* mobile first (<= 480px) */
.grid-container {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

/* tablet */
@media screen and (min-width: 480px) and (max-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }
}

/* desktop  */
@media screen and (min-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
  }
}

.doggo-card {
  margin: .5em;
  border: 1px solid #ccc;
  float: left;
  width: 15em;
}

.card-text {
  margin-left: 1em;
}

.doggo-bloggo-container {
  margin: auto;
  width: 80%;
}

.bloggo-card{
  display: inline-block;
}

h1 {
  color: #083C61;
}

.bloggoimg {
  float: left;
  margin-right: 2em;
  margin-bottom: 4em;
  max-width: 15em;
}

h4 {
  color: #083C61;
}

.adopt-btn {
  background-color: #81B642; /* Green */
  border: none;
  font-weight: bold;
  color: white;
  padding: 1em 5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
}

.btm-link {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 4em;
}

.list-more-doggos-btn {
  background-color: #ECECEC;
  border: none;
  color: #083C61;
  font-weight: bold;
  padding: 1em 3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: auto;
  margin-bottom: 1em;
}

.card-img {
  width: 100%;
}

.total {
  text-decoration: none;
}

.form-container {
  margin: auto;
  width: 80%;
  color: #083C61;
  font-weight: bold;
}

input[type=text], input[type=email], input[type=number], select {
  width: 60%;
  display: block;
  padding: 1em 3em;
  margin: 1em 0;
  margin-bottom: 2em;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.submit-btn {
  background-color: #81B642; /* Green */
  border: none;
  font-weight: bold;
  color: white;
  padding: 1em 5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
}

footer {
  text-align: center;
  background-color: #083C61;
  color: white;
  padding-top: 4em;
}

.footer-img {
  width: 250px;
}

@media screen and (min-width: 769px) {
  .footer-img {
    width: 500px;
  }
}

.footer-text {
  color: white;
}

.footerlinks {
  color: white;
  text-decoration: none;
  padding-right: 1em;
  padding-left: 1em;
}
