.image-header {
  width: 100%;
  height: 30rem;
  background-image: url("images/cart.png");
  background: linear-gradient(red, yellow, green);
  background-size: cover;
  background-position: center center;

}
