* {
    box-sizing: border-box;
  }

h1, h2, h3, label, legend {
  font-family: 'Cormorant Garamond', serif;
}

p, a {
  font-family:  'Work Sans', serif;
}

.home-content {
  display: grid;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "margin content side margin2"
    "margin button side margin2"
    "footer footer footer footer";
  grid-template-columns: 10% 1fr 20% 10%;
  grid-template-rows: 1fr auto;
  grid-column-gap: .5em;
  height: 100vh;
}

.dogs-content {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "margin content margin2"
    "margin button margin2"
    "footer footer footer";
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 1fr auto;
  grid-column-gap: .5em;
  height: 100vh;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

aside {
  grid-area: side;
  width: 100%;
  margin-left: 3em;
  }

.sidebar-blog-post {
  margin-bottom: 4em;
}

.sidebar-blog-post a {
  text-decoration: none;
  color: #67bbff;
  font-weight: 900;
}

aside img {
  width: 100%;
}

header.head {
  background-image: linear-gradient(to bottom right, #034177 50%, #77ad3b);
  background-image: url(../images/header-image.jpg);
  background-size: cover;
  padding: 2em 4em 4em;
  padding-bottom: 10em;
  color: white;
  margin-left: 0em;
  margin-right: 0em;
}

.head-logo {
  width: 33%;
}

header h1 {
    color: #77ad3b;
    font-style: italic;
    font-weight: 500;
    font-size: 175%;
    margin-top: 0%;
}

.checkout-button, .checkout-button a {
    float: right;
    clear: both;
    background-color: #77ad3b;
    padding: 0.5em 3em;
    font-weight: 900;
    color: white;
    text-decoration: none;
    font-size: 1em;
    
}

nav.navigation {
    background-color: lightgray;
    padding: 1.5em 0em;
    margin-bottom: 3em;
}

nav a {
    padding-right: .5em;
    padding-left: .5em;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.2em;
    color: #034177;
}

nav a:not(:last-child):after  {
  content: '\2001' '/';
}

nav a#first-nav  {
    padding-left: 9.75em;
}

.cart {
  float: right;
  font-weight: 900;
  font-size: 1em;
  line-height: 1.5;
  padding-left: .5em;
  text-align: right;
}

.cart img {
  width: 10%;
}

.main-content {
  grid-area: content;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
}

.about-adopt {
  width: auto;
}

.about-adopt img {
  padding: 1.25em;
  width: 100%;
  margin: auto;
}

h2.blue-title {
  color: #034177;
  font-size: 2.5em;
  padding-left: .5em;
}

h2.side-blog-title {
  margin-top: .25em;
  font-size: 2em;
  color: #034177;
}

h3.blue-title, h3.side-blog-article {
  color: #034177;
  font-size: 1.75em;
  font-weight: 900;
  margin-top: 0em;
  margin-bottom: .75em;
}

h3.side-blog-article {
  margin: .5em auto;
  font-size: 1.25em;
}

h3.blue-title-checkout {
  color: #034177;
  font-size: 1.75em;
  font-weight: 900;
  margin-top: 1.5em;
}

.about-adopt-text p {
  font-size: 1em;
  font-weight: 100;
  line-height: 1.85;
  padding-left: 1em;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-auto-rows: auto;
  grid-gap: .5em;
}

.gallery-dogs {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-auto-rows: auto;
  grid-gap: 2.75em;
}

div.gallery-item {
  display: grid;
  border: #f0f2f3 thick solid;
  width: 100%;
  }

.gallery-item img {
  width: 100%;
}

.caption {
  text-align: left;
  width: auto;
  padding-bottom: .5em;
}

.caption h3, .caption p {
  text-align: left;
  width: 100%;
  padding-left: 1rem;
}

  .adopt-button {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #034177 5%, #77ad3b);
    padding: 5% 35% 5% 35%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    color: white;
    text-decoration: none;
    font-size: 1em;
    border: none;
  }

.adopt-button {
  display: flex;
  justify-content: center;
  background-color: #77ad3b;
  padding: .5em 3em;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  color: white;
  text-decoration: none;
  font-size: 1em;
  border: none;
}

  .adopt-button-checkout {
  display: flex;
  justify-content: left;
  background-color: #77ad3b;
  padding: .75em 6em .75em 6em;
  font-weight: 900;
  color: white;
  text-decoration: none;
  font-size: 1em;
  margin: 1em 0em 4em .75em;
  border: none;
}

.gallery-button {
  grid-area: button;
  text-align: center;
  background-color: #f0f2f3;
  color: #034177;
  font-weight: 900;
  font-size: 1.25em;
  padding: .5em 1.5em;
  margin: auto;
  width: auto;
  text-decoration: none;
}

footer {
  grid-area: footer;
  display: block;
  margin-top: 4em;
  text-align: center;
  padding: 4em;
  background-color: #034177;
  color: white;
}

footer a {
  color: white;
  font-size: 1em;
  margin-top: 1em;
}

.footer-nav {
  padding: 2em;
  margin: auto;
}

footer p {
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  width: 33%;
  font-size: .9em;
}

.blog {
  display: flex;
  padding-bottom: 5em;
}

.blog img {
  padding-left: .5em;
  width: 100%;
  margin: auto;
}

.blog-post {
  padding: 2em;
}

.blog-post p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.75;
}

.contact-info input {
  width: 100%;
  padding: 1.25em;
  margin: .5em 0em 4em 0em;
}

.contact-info label {
  color: #034177;
  font-size: 1.5em; 
  font-weight: 900;
}

.contact-info-radio {
  color: #034177;
  font-size: 1.5em;
  width: 60%;
  font-weight: 900;
  margin-left: 0em;
  padding-left: .75em;
}

fieldset {
  border: none;
  display: block;
  width: 60%;
  padding: 1em;
}

select {
  padding: 1.25em;
  width: 100%;
  margin: .5em auto 1em auto;
}

.container {
  display: flex;
  justify-content: space-between;
}

.contact-csz {
  display: inline-block;
  color: #034177;
  font-size: 1.5em;
  font-weight: 900;
  width: 15%;
}

.contact-csz select {
  padding: 1.25em;
  width: 100%;
}

.contact-csz#contact-city {
  width: 40%;
}

.contact-csz#contact-zip {
  width: 30%;
}

.pickup-location {
  color: #034177;
  font-size: 1.5em;
  width: 25%;
  margin: .25em 0em 1em 0em;
  padding-left: .75em;
  font-weight: 900;
}

#cart-title {
 font-weight: 900;
}

.container-cart {
  display: flex;
  justify-content: flex-start;
}

.dogs-selected img {
  width: 25%;
}

.cart-dog {
  display: inline-block;
  line-height: .5em;
  padding-left: 1em;
  margin-top: .35em;
  vertical-align: top;
}

.checkout {
  padding-left: 1em;
}

.total  {
  display: block;
  padding: 1em;
  line-height: .25;
}

#checkout {
  display: none;
}

/* tablets (portrait and landscape) ----------- */
@media only screen and (min-device-width : 720px) and (max-device-width : 1000px) {
 
  .blog {
    flex-direction: column-reverse;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: auto;
  }

  .gallery-dogs {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-auto-rows: auto;
  }

  section.gallery {
    text-align: center;
  }

  .home-content {
    grid-template-columns: 10% 1fr 20% 10%;
  }

  fieldset {
    width: 100%;
  }

  .pickup-location {
    width: 100%;
  }

  #checkout {
    display: none;
  }

  footer p, .footer-nav {
    width: 80%;
    padding: .5em;
  }

  .head-logo {
    width: 50%;
  }

  header h1 {
    font-size: 2em;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 720px) {

.gallery {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-auto-rows: auto;
}

.gallery-dogs {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-auto-rows: auto;
}

section.gallery {
  text-align: center;
}

  aside {
    display: none;
  }

  .home-content {
  grid-template-columns: 10% 1fr 10%;
  }

  nav.navigation {
    text-align: center;
  }

  nav a#first-nav {
    padding-left: 0em;
  }
  
  .container {
    flex-direction: column;
    width: 100%;
  }

  fieldset {
    width: 100%;
  }

  .contact-csz#contact-city {
    width: 100%;
  }
  
  .contact-csz#contact-zip {
    width: 100%;
  }

  .contact-csz {
    width: 100%;
  }

  .pickup-location {
    width: 100%;
  }

  .container-cart {
    flex-direction: column;
  }

  .checkout-button {
    display: none;
  }

  .cart {
    display: none;
  }

  #checkout {
    display: block;
    width: 1em;
    float: right;
  }

  .blog {
    flex-direction: column-reverse;
  }

  footer, footer p, .footer-nav {
    width: 100%;
    padding: .5em;
    font-size: .75em;
  }

  .head-logo {
    width: 75%;
  }

  header h1 {
    font-size: 1em;
  }
 }

 @media print {

  * {
    margin: 0em;
    padding: 0em;
  }
  
   body img, nav, header, footer {
     display: none;
   }

   .home-content, .dogs-content {
    grid-template-columns: 1fr;
    page-break-inside: avoid;
  }
 }

