body {
    background-color: gray;
  }

  header {
    background: linear-gradient(to right, red, gray);
    background-image: url("../images/wyatt.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .header-item-1 {
    width: 10%;
    float: right;
  }

  .header-item-2 {
    float: right;
  }

  .header-item-3 {
    width: 50%;
  }

  .home-image {
    width: 80%;
    margin-top: 1em;
  }

  .nav-ul li ~ li {
    padding-left: 2em;
}